<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-with, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="cssDefault.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="ContactMe">
            <p id="contactHeader">Contact me</p>
            <p id="contactParagraph">Im am available for hire and open for any ideas of cooperation</p>
            <div class="contactBody">
                <p><i class="fa fa-github"></i> Github: <a href="https://github.com/AdrianBugdol">AdrianBugdol</a></p>
                <p><i class="fa fa-envelope"></i> Email: <a href="mailto:AdrianBugdol2@gmail.com">AdrianBugdol2@gmail.com</a></p>
                <p><i class="fa fa-linkedin"></i> Linkedin: <a href="www.linkedin.com/in/adrianbugdol2">adrianbugdol</a></p>
            </div>
        </div>

    </div>
</body>
</html>
