<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-with, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="cssDefault.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container">
        
        <div class="mainContent">
            <div class="greetings">
                <p>
                    Hello, my name is Adrian. I am a Back-End Developer living
                    in Wodzislaw Slaski, Poland.
                </p>
            </div>

        </div>
    </div>
    <div class="container2">
        <div class="sampleProjects">
            <div class="projectsContent">
                <p id="introProjects">My latest projects</p>
                <div class="sampleProject">
                    <div class="projectCard">
                        <img src="" alt="Project Screenshot">
                        <div class="cardContent">
                            <p><a href="#">Title</a></p>
                        </div>
                    </div>
                </div>
                <div class="sampleProject">
                    <div class="projectCard">
                        <img src="" alt="Project Screenshot">
                        <div class="cardContent">
                            <p><a href="#">Title</a></p>
                        </div>
                    </div>
                </div>
                <div class="sampleProject">
                    <div class="projectCard">
                        <img src="" alt="Project Screenshot">
                        <div class="cardContent">
                            <p><a href="#">Title</a></p>
                        </div>
                    </div>
                </div>
                <p id="moreProjects"><a href="#">More</a></p>
            </div>
        </div>
    </div>
</body>
</html>
